// MAIN.SCSS
// ---------

// VENDOR STYLES
// =============================================================================

@charset 'UTF-8';
@import 'node_modules/bourbon/app/assets/stylesheets/bourbon.scss';

// THEME STYLES
// =============================================================================

// @import '../partials/utilities/base';    // Utilities
// @import '../partials/global/base';       // Globals Base
// @import '../partials/components/base';   // Components Base
// @import '../partials/layouts/base';      // Layouts Base


// STOREFRONT
// =============================================================================

// Susy
// Susy grid system. See: http://susydocs.oddbird.net/en/latest/
@import 'node_modules/susy/sass/susy';

// Vendors
@import 'node_modules/normalize.css/normalize.css';
@import 'node_modules/modularscale-sass/stylesheets/_modularscale.scss';

// Utilities
// Sass tools and helpers used across the project.
@import '../storefront/utils/variables';
@import '../storefront/utils/mixins';

// Base
// Includes all the main Storefront css.
@import '../storefront/base/base';
@import '../storefront/base/layout';

// Overrides

.storefront-primary-navigation {
  .primary-navigation {
    text-align: center;
  }
}


@include susy-media($desktop) {
  .woocommerce-active {
    .site-header {
      .secondary-navigation {
        @include span(12 of 12);
      }

      .site-search {
        @include span(last 3 of 12);
        clear: none;
      }

      .main-navigation {
        @include span(12 of 12);
        clear: both;
      }

      .site-header-cart {
        @include span(last 3 of 12);
        margin-bottom: 0;
      }
    }
  }
}
